body {
    margin: 0;
    padding: 0;
    background-color: #050210;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.circle {
    position: relative;
    width: 700px;
    height: 700px;
    background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
    border-radius: 50%;
    animation: spinning 1s linear infinite;
}

@keyframes spinning {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}  
}
.fiksni {
    position: absolute;
    height: 610px;
    width: 610px;
    border-radius: 50%;
    animation: effect 2s alternate linear infinite;
}

.circle::after{
    content: "";
    position: absolute;
    top: 45px;
    right: 45px;
    bottom: 45px;
    left: 45px;
    background-color: #050210;
    border-radius: 50%;
}

@keyframes effect {
    0% {transform: scale(0.1); background-color: rgb(4, 4, 22);}
    50% {transform: scale(0.5); background-color: rgb(4, 4, 22);}
    100% {transform: scale(1); background-color: rgb(4, 4, 22);}
}

.circle span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
    border-radius: 50%;
}

.circle span:nth-child(1) {
    filter: blur(20px);
}
.circle span:nth-child(2) {
    filter: blur(35px);
}
